<app-gauche-component (selectprojetevent)="selectprojet($event)"
 (projetdomaineevent)="selectprojetdomaine($event)"
 (projetsousdomaineevent)="selectprojetsousdomaine($event)"
 ></app-gauche-component>

<app-droite-component [projetrechercher]="selectprojet(pprojet)"
 [projetdomrechercher]="selectprojetdomaine(projetdom)"
 [projetsousdomrechercher]="selectprojetsousdomaine(projetsousd)"
 [boolrecherch]="boolselect"
 [boolddomaine]="booldomaine"
 [boolsousdomaine]="boolsousdo"
 ></app-droite-component>



